CLIENT_ID=1200646197304631326
CLIENT_SECRET=tu_client_secret_aqui
BOT_TOKEN=tu_bot_token_aqui
MONGO_URI=mongodb+srv://usuario:password@cluster0.xxx.mongodb.net/?retryWrites=true&w=majority
JWT_SECRET=kaitrux_jwt_super_secret_2025_changeme
REDIRECT_URI=https://tudominio.up.railway.app/api/auth/callback
PORT=3000
